<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  
  <servlet>
  	<servlet-name>HelloFreemarkerServlet</servlet-name>
  	<servlet-class>com.gc.web.HelloFreemarkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloFreemarkerServlet</servlet-name>
  	<url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TableServlet</servlet-name>
  	<servlet-class>com.gc.web.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TableServlet</servlet-name>
  	<url-pattern>/tb.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<servlet-class>com.gc.web.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/stu.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
