<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  
  <servlet>
  	<servlet-name>BusinessServlet</servlet-name>
  	<servlet-class>com.gc.servlet.BusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BusinessServlet</servlet-name>
  	<url-pattern>/business/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CustomerListServlet</servlet-name>
  	<servlet-class>com.gc.servlet.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerListServlet</servlet-name>
  	<url-pattern>/business/customer_list.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>CustomerInputServlet</servlet-name>
  	<servlet-class>com.gc.servlet.CustomerInputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerInputServlet</servlet-name>
  	<url-pattern>/business/customer_input.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CustomerDeleteServlet</servlet-name>
  	<servlet-class>com.gc.servlet.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerDeleteServlet</servlet-name>
  	<url-pattern>/business/customer_delete.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
      <servlet-name>CategoryServlet</servlet-name>
      <servlet-class>com.gc.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryServlet</servlet-name>
      <url-pattern>/category.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
      <servlet-name>CategoryServletJson</servlet-name>
      <servlet-class>com.gc.servlet.CategoryServletJson</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryServletJson</servlet-name>
      <url-pattern>/categoryJson.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
